{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="https://assets.mmsrg.com/isr/166325/c1/-/ASSET_MMS_97616643/fee_240_148_png/TV-SAMSUNG-50%22-FULL-LED-4K-Smart-TV-UE50AU7040KXXN-%282022%29" alt="tv1">
                    <div class="caption">
                        <h3>TV SAMSUNG 50" FULL LED 4K Smart TV UE50AU7040KXXN </h3>
                        <p>499$</p>
                        <p><a href="https://www.mediamarkt.be/nl/product/_tv-samsung-lcd-full-led-50-inch-ue50au7040kxxn-2033043.html" class="btn btn-primary" role="button">Buy</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="https://assets.mmsrg.com/isr/166325/c1/-/ASSET_MMS_92742331/fee_240_148_png/TV-SAMSUNG-55%22-Neo-QLED-4K-Smart-TV-QE55QN85BATXXN" alt="tv2">
                    <div class="caption">
                        <h3>TV SAMSUNG 55" Neo QLED 4K Smart TV QE55QN85BATXXN</h3>
                        <p>989$</p>
                        <p><a href="https://www.mediamarkt.be/nl/product/_tv-samsung-neo-qled-55-inch-qe55qn85batxxn-2008625.html" class="btn btn-primary" role="button">Buy</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="https://assets.mmsrg.com/isr/166325/c1/-/ASSET_MMS_92785222/fee_240_148_png/TV-SAMSUNG-85%22-QLED-4K-Smart-TV-QE85Q70BATXXN" alt="tv3">
                    <div class="caption">
                        <h3>TV SAMSUNG 85" QLED 4K Smart TV QE85Q70BATXXN</h3>
                        <p>2999$</p>
                        <p><a href="https://www.mediamarkt.be/nl/product/_tv-samsung-qled-85-inch-qe85q70batxxn-2008789.html" class="btn btn-primary" role="button">Buy</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}