{% extends 'base.html.twig' %}
{%block body %}
    <p> Bonjour les coupains </p>
    <img src="https://i.pinimg.com/originals/76/b4/72/76b47216cc54ff9e82bebcd0df3e4f11.jpg" width="500" height="500">
{% endblock %}